header{
    position: relative;
}
.dropdown-content {
    // padding-left: 3%;
     display:none;
     position: absolute;
     left: 0;
     top: 100%;
    //  background-color: rgba(214, 49, 49, 0.5);
     width: 18%;
     z-index: 1;
 }

.dropdown-content a{
    padding: 3% 2% 4% 25%;
   
    // padding: 5%;
    // padding-left: 0;
    font-size: 16px;
 }

.dropdown-content a:hover {
   
    background-color: rgba(214, 49, 49, 0.918);
 }



.dropdown:hover .dropdown-content {
    // display: block;
     display:flex;
     flex-direction: column;
 }
