@import "header&footer";
@import "responsiveHeader&Footer";
@import "dropdown";

main{
    display: flex;
    color: black;
    
}
.productsCart{
    width: 60%;
    margin: 0 auto;
}
.orderBox{
    width: 20%;
    height: 90%;
    box-sizing: border-box;
    padding: 3% 2%;
    margin: 10% 0;
    border: 1px solid grey;
    background-color: white;
}
#prodsPrice{
    font-size: 20px;
    font-weight: bold;
}
#orderBtn{
    margin: 10% 5%;
    width: 90%;
    background-color: transparent;
  padding: 5% 10%;
  font-weight: bold;

}