@import "header&footer";
@import "responsiveHeader&Footer";
@import "dropdown";

// main{
//     width: 80%;
// }
.productList{
   width: 80%; 
   display:flex; 
   justify-content: space-between; 
   flex-wrap: wrap;
   margin: 0 auto;
   color: black;
}

main h2 {
    margin-left: 10%;
}

//responsive
// productList.setAttribute("style", "width: 80%; display:flex; flex-direction: column; justify-content: space-between; ");
           