@import "header&footer";
@import "responsiveHeader&Footer";
@import "dropdown";


.container{
    width: 75%;
    margin: 0 20%;
}
#form {
    width: 60%;
    display:flex;
    flex-direction: column;
}
#map {
    height: 300px; 
    width: 70%;  
   }