body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  padding: 0 0 0 0;
  background-image: url(/assets/images/header&footerBcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logoImg {
  width: 20%;
}

.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

#searchBar {
  width: 80%;
  height: 25px;
  border-radius: 10px;
}

#searchBtn {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(214, 49, 49, 0.918);
  font-weight: bold;
}

.icons {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.myAccount,
.myCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#myAccLogo,
#myCartLogo {
  width: 25%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navItem {
  padding: 1% 2% 1% 3%;
  font-weight: bold;
  font-size: 20px;
  width: 13%;
}

.navItem:hover {
  background-color: rgba(214, 49, 49, 0.918);
  color: black;
}

.dropdown:hover {
  background-color: rgba(214, 49, 49, 0.918);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(/assets/images/header&footerBcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
  background-color: white;
}

#productsTitle {
  padding-left: 10%;
}

@media only screen and (max-width: 700px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #logoImg {
    width: 80%;
  }
  .searchBox {
    width: 90%;
  }
  .icons {
    width: 90%;
    margin: 5% 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #myAccLogo,
  #myCartLogo {
    width: 25%;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}

.container {
  width: 75%;
  margin: 0 10%;
}

#form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=contact.css.map */