body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  #container{
    display: flex;
  }

  #leftHero{
    width: 65%;
    height: 100vh;
    background: url("./images/loginHeroBackground.jpg") no-repeat center center  ;
    background-size: cover;
  }
  #rightHero{
    background: url("./images/loginBackground.jpg") no-repeat center center  ;
    width: 35%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-color: lightgray;
  }

  #loginbox {
    position: absolute;
    /* width: 320px; */
    width: 65%;
    /* height: 80%; */
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
   
  }
  
  .pic_box {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 25px;
    background: rgba(136, 23, 14, 0.92);
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .pic_box img {
    width: 105px;
    height: 105px;
    transform: translate(-20%, -18%);
  }
  h2 {
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
    font-size: 26px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input:hover {
    transform: scale(1.04);
  }
  #email:focus,
  #password:focus {
    transform: scale(1.03);
  }
  
  #email,
  #password {
    border: 0;
    border-bottom: 1px solid rgba(136, 23, 14, 0.678);
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
  }
  #submitButton {
    border: 0;
    outline: 0;
    background: rgba(136, 23, 14, 0.678);
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
  }
  .signUpLinks {
    display: flex;
    justify-content: space-around;
  }
  .link {
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    color: white;
  }
  
  @media only screen and (max-width: 700px) {
/* #container{
  display: flex;
  flex-direction: column-reverse;
} */
#leftHero {
  display: none;
}
#rightHero{
  width:100%;
}
}

  