body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("assets/images/background_login1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: sans-serif;
  }
  
  .loginbox {
    width: 320px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    left: 85%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
  }
  
  .pic_box {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 25px;
    background: red;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .pic_box img {
    width: 105px;
    height: 105px;
    transform: translate(-20%, -18%);
  }
  h2 {
    margin: 0;
    text-align: center;
    padding: 0 0 20px;
    font-size: 26px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  input:hover {
    transform: scale(1.04);
  }
  #email:focus,
  #password:focus {
    transform: scale(1.03);
  }
  
  #email,
  #password {
    border: 0;
    border-bottom: 1px solid red;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
  }
  #submitButton {
    border: 0;
    outline: 0;
    background: red;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
  }
  .signUpLinks {
    display: flex;
    justify-content: space-around;
  }
  .link:hover {
    color: red;
  }
  .link {
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    color: skyblue;
  }
  